

<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Chat</ion-title>

    </ion-toolbar>
  </ion-header>

<ion-content padding>
 <ion-list>

    <ion-item (click)="openChat()">
      <ion-avatar item-left>
        <img src="assets/hamza.jpg?raw=true">
      </ion-avatar>
    <h4 >Hamza Hammi</h4>
    </ion-item>
    <ion-item (click)="openChat()">
        <ion-avatar item-left>
          <img src="assets/total.png?raw=true">
        </ion-avatar>
      <h4>Total</h4>
      </ion-item>
  
        <ion-item (click)="openChat()">
            <ion-avatar item-left>
              <img src="assets/linus.jpg?raw=true">
            </ion-avatar>
          <h4>Linus</h4>
          </ion-item>

  </ion-list>
</ion-content>
